@model DiamondShopData.ViewModel.ProductDTO.ProductDTO
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .header-text {
        color: #0188A6;
        font-weight: 600;
    }

    .header-line {
        background-color: #00a6BD4E;
        padding: 20px;
        color: white;
        font-size: 24px;
    }

    .header-text {
        display: flex;
        align-items: center;
    }

        .header-text .badge {
            margin-left: 10px;
        }

    .details, .details dt, .details dd {
        font-size: 18px;
    }

        .details dt {
            font-weight: bold;
        }

        .details dd {
            margin: 0 0 10px;
        }

    .table {
        margin-top: 20px;
    }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }
</style>
<div class="container">
    <div class="header-line">
    </div>

    <dl class="row details mt-3">
        <div class="col-md-6 row">
            <dt class="col-sm-4">Time From:</dt>
            

            <dt class="col-sm-4">Time To:</dt>
            

            <dt class="col-sm-4">Price:</dt>
           
        </div>
        <div class="col-md-6 row">
            <dt class="col-sm-4">Court Name:</dt>
            

            <dt class="col-sm-4">Frame Created:</dt>
            

            <dt class="col-sm-4">Last Updated At:</dt>
            
        </div>
    </dl>
</div>